<div class="h-ub-main cs-custom-scroll">
<h4>Upload Banner Images</h4>
<div class="h-ub-mn">
    <div class="h-ub-each">
        <label class="h-ub-lb clearfix">
            <input type="file" accept="image/png, image/jpg, image/jpeg,image/*">
            <span class="h-ub-c">
                <i class="fa fa-plus"></i>
                <img src=""/>
            </span>
        </label>
        <span class="h-img-clear"><i class="fa fa-times-circle"></i></span>
        <div class="h-ub-i">IMAGE 1</div>
    </div>
    <div class="h-ub-each">
        <label class="h-ub-lb clearfix">
            <input type="file" accept="image/png, image/jpg, image/jpeg,image/*">
            <span class="h-ub-c">
                <i class="fa fa-plus"></i>
                <img src=""/>
            </span>
        </label>
        <span class="h-img-clear"><i class="fa fa-times-circle"></i></span>
        <div class="h-ub-i">IMAGE 2</div>
    </div>
    <div class="h-ub-each">
        <label class="h-ub-lb clearfix">
            <input type="file" accept="image/png, image/jpg, image/jpeg,image/*">
            <span class="h-ub-c">
                <i class="fa fa-plus"></i>
                <img src=""/>
            </span>
        </label>
        <span class="h-img-clear"><i class="fa fa-times-circle"></i></span>
        <div class="h-ub-i">IMAGE 3</div>
    </div>
</div>
<div class="h-ub-mn h-ub-tm">
    <div class="h-ub-each">
        <label class="h-ub-lb clearfix">
            <input type="file" accept="image/png, image/jpg, image/jpeg,image/*">
            <span class="h-ub-c">
                <i class="fa fa-plus"></i>
                <img src=""/>
            </span>
        </label>
        <span class="h-img-clear"><i class="fa fa-times-circle"></i></span>
        <div class="h-ub-i">IMAGE 4</div>
    </div>
    <div class="h-ub-each">
        <label class="h-ub-lb clearfix">
            <input type="file" accept="image/png, image/jpg, image/jpeg,image/*">
            <span class="h-ub-c">
                <i class="fa fa-plus"></i>
                <img src=""/>
            </span>
        </label>
        <span class="h-img-clear"><i class="fa fa-times-circle"></i></span>
        <div class="h-ub-i">IMAGE 5</div>
    </div>
    <div class="h-ub-each">
        <label class="h-ub-lb clearfix">
            <input type="file" accept="image/png, image/jpg, image/jpeg,image/*">
            <span class="h-ub-c">
                <i class="fa fa-plus"></i>
                <img src=""/>
            </span>
        </label>
        <span class="h-img-clear"><i class="fa fa-times-circle"></i></span>
        <div class="h-ub-i">IMAGE 6</div>
    </div>
</div>
<div class="h-tc">
    <div class="h-upload-banner-btn" (click)="savebanner()">UPLOAD</div>
</div>
</div>
