<h3 class="hl-vo-mn-h">CART DETAILS</h3>
<div class="hl-vo-mn cs-custom-scroll">
    <div class="hl-vo-mn-list">
        <ul>
            <li [attr.foodid]="itemL.FoodId" *ngFor="let itemL of orderedList.ItemsList; let i = index" [attr.data-index]="i">
                <div class="hl-il-cont">
                    <div class="hl-il-cont-l">
                        <h4>{{itemL.FoodName}}</h4>
                        <p>{{itemL.Description}}</p>
                    </div>
                    <div class="hl-il-cont-r">
                        <div class="hl-il-count">
                            <span class="hl-il-c-clk decrease" (click)="icount($event)">-</span>
                            <span class="hl-il-count-num">{{itemL.Count}}</span>
                            <span class="hl-il-c-clk increase" (click)="icount($event)">+</span>
                        </div>
                    </div>
                </div>
                <div class="hl-il-priz">
                    <span>Rs</span>
                    <span class="hl-il-prz">{{itemL.Price}}</span>
                </div>
                <span class="hl-il-del" (click)="removeI($event)"><i class="fa fa-trash"></i></span>
            </li>
        </ul>
    </div>
    <div class="hl-vo-pr-details">
        <div class="hl-vo-comments">
            <textarea placeholder="Add Comments..."></textarea>
        </div>
        <h4>Billing Details</h4>
        <div class="hl-vo-itl">
            <span>Item Total</span>
            <span class="hl-vo-itl-pr">
                <span>Rs</span>
            <span class="hl-vo-itl-prz"></span>
            </span>
        </div>
        <div class="hl-vo-gst">
            <span>GST (%) </span>
            <span class="hl-vo-gst-per">{{GST}} %</span>
            <span class="hl-vo-gst-pr">
                <span>Rs</span>
            <span class="hl-vo-gst-prz"></span>
            </span>
        </div>
        <div class="hl-vo-tpay">
            <span>To Pay</span>
            <span class="hl-vo-tpay-pr">
                <span>Rs</span>
            <span class="hl-vo-tpay-prz"></span>
            </span>
        </div>
    </div>

</div>
<div class="hl-vo-po h-r-bot-fix" (click)="orderpop()">
    <div class="h-vo-order-btn">PLACE ORDER</div>
    <div class="h-vo-order-pr">
        <span>Rs</span>
        <span class="h-vo-order-prz"></span>
        <span>/-</span>
    </div>
</div>
<div class="h-vo-pop">
    <div class="h-vo-ov"></div>
    <div class="h-vo-content">
        <div class="h-vo-c-mn">
            <h4>CHOOSE PAYMENT OPTION</h4>
            <div class="h-vo-py-r">
                <input type="radio" id="onlinepayment" name="payment" checked/>
                <label for="onlinepayment">Online Payment</label>
            </div>
            <div class="h-vo-py-r">
                <input type="radio" id="cashondelivery" name="payment" />
                <label for="cashondelivery">Cash on Delivery</label>
            </div>
        </div>
        <div class="h-vo-pop-btn" (click)="orderpopclk()">
            <div class="h-vo-pop-l">PLACE ORDER</div>
            <div class="h-vo-pop-r">
                <span>Rs</span>
                <span class="h-vo-order-prz">163</span>
                <span>/-</span>
            </div>
        </div>
    </div>

</div>