<div class="h-bd-tp">
    <h4>Billing Details</h4>
    <div class="h-bd-inp">
        <div class="h-bd-inp-bx h-input">
            <input tabindex="-1"  matInput [matDatepicker]="picker" placeholder="Search By Date" [(ngModel)]="date"  #searchDate (dateChange)="datepic(e,searchDate)">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <span class="h-date-clear" (click)="clearDate($event)"><i class="fa fa-times-circle"></i></span>
        </div>
        <div class="h-bd-inp-bx h-input">
            <input type="text" placeholder="Search" class="h-search-inp"/>
        </div>
    </div>
</div>
<div class="h-bd-t">
    <div class="h-bd-t-head h-tb-h">
        <div class="h-bd-t-h-m">
            <div class="h-bd-t-e h-cell-2f">S.NO</div>
            <div class="h-bd-t-e h-cell-3f">TABLE NO</div>
            <div class="h-bd-t-e h-cell-3f">C.NAME</div>
            <div class="h-bd-t-e h-cell-3f">PHONE NO</div>
            <div class="h-bd-t-e h-cell-4f">ORDER DETAILS</div>
            <div class="h-bd-t-e h-cell-3f">AMOUNT</div>
            <div class="h-bd-t-e h-cell-3f">TAX</div>
            <div class="h-bd-t-e h-cell-3f">PAYMENT</div>
        </div>
    </div>
    <div class="h-bd-t-c cs-custom-scroll">
        <div class="h-bd-t-c-e h-tb-r" *ngFor="let billingD of billingDetails.orderList; let i = index" [attr.date]="billingD.orderDate">
            <div class="h-bd-t-e h-cell-2f h-tb-sn">{{i+1}}</div>
            <div class="h-bd-t-e h-cell-3f h-tb-c">
                <div class="h-tb-head">TABLE NO</div>
                <div class="h-tb-content">{{billingD.tableNo}}</div>
            </div>
            <div class="h-bd-t-e h-cell-3f h-tb-c">
                <div class="h-tb-head">C.NAME</div>
                <div class="h-tb-content">{{billingD.customerName}}</div>
            </div>
            <div class="h-bd-t-e h-cell-3f h-tb-c">
                <div class="h-tb-head">PHONE NO</div>
                <div class="h-tb-content">{{billingD.phoneNumber}}</div>
            </div>
            <div class="h-bd-t-e h-cell-4f h-flex-d-col h-tb-c">
                <div class="h-tb-head">ORDER DETAILS</div>
                <div class="h-tb-content">
                    <div class="h-tc" *ngFor="let foodlist of billingD.Orderdetails;">
                         <span>{{foodlist.foodName}}</span> * <span>{{foodlist.quantity}}</span>
                    </div>
                </div>    
            </div>
            <div class="h-bd-t-e h-cell-3f h-fs-amt h-tb-c">
                <div class="h-tb-head">AMOUNT</div>
                <div class="h-tb-content">RS  <span>{{billingD.totalAmount}}</span></div>
            </div>
            <div class="h-bd-t-e h-cell-3f h-tb-c">
                <div class="h-tb-head">TAX</div>
                <div class="h-tb-content">{{billingD.tax}}</div>
            </div>
            <div class="h-bd-t-e h-cell-3f h-tb-c">
                <div class="h-tb-head">PAYMENT</div>
                <div class="h-tb-content">{{billingD.paymentType}}</div>
            </div>
        </div>
    </div>
</div>
