<div class="h-lgn-mn cs-custom-scroll">
    <div class="h-lgn">
        <div class="h-lg-mn">
            <div class="h-logo">
                <img src="assets/images/logo.png"/>
            </div>
        </div>
        <div class="h-lgn-frm clearfix">
            <div class="clearfix">
                <div class="h-input mandatory">
                    <input type="text" placeholder="Name" #sname/>
                </div>  
                <div class="h-input mandatory">
                    <input type="tel" placeholder="Phone number" #spnum/>
                </div>
                <div class="h-input mandatory">
                    <input type="text" placeholder="Username" #suname/>
                </div> 
                <div class="h-input mandatory">
                    <input type="password" placeholder="Password" #spwrd/>
                </div> 
                <div class="h-input mandatory">
                    <input type="password" placeholder="Confirm Password" #scpwrd/>
                </div> 
            </div>
            <div class="clearfix h-lg-btn-mn">
                <div class="h-lg-btn"  (click)="signupck($event,sname,spnum,suname,spwrd,scpwrd)">
                    Create account
                </div> 
            </div>
        </div>
    </div>
</div>
    