<div class="h-d-top">
    <div class="h-d-head">DASHBOARD</div>
    <div class="h-d-t-r">
        <div class="h-d-bx h-d-tax h-diag-clk" dialog="h-dialog-tax">
            Tax
        </div>
        <div class="h-d-bx h-d-url h-diag-clk" dialog="h-dialog-url">
            Customer end URL
        </div>
        <div class="h-d-bx h-d-logout" [routerLink]="['/',{ outlets: { auth: ['adminlogin'] } }]">
            Logout
        </div>
        <div class="h-d-logo">
            <label class="h-d-l clearfix">
                <input type="file" accept="image/png, image/jpg, image/jpeg,image/*">
                <span class="h-d-l-c">
                    <span class="h-d-l-cl">LOGO</span>
                    <img src="" />
                </span>
            </label>
            <span class="h-img-clear"><i class="fa fa-times-circle"></i></span>
        </div>
    </div>
</div>
<h4 class="h-d-hd">Subscription Details</h4>
<div class="h-d-center">
    <div class="h-d-c-m">
        <div class="h-d-c-m-e h-d-se-date">
            <div class="h-tm">
                <span class="h-d-se-lb">Start Date</span>
                <span class="h-d-se-dot"> :</span>
                <span class="h-d-se-d">{{startDatef}}</span>
            </div>
            <div>
                <span class="h-d-se-lb">End Date</span>
                <span class="h-d-se-dot"> :</span>
                <span class="h-d-se-d">{{endDatef}}</span>
            </div>
        </div>
        <div class="h-d-c-m-e h-d-rem-date">
            <div class="h-d-rw-lb">Days Remaining for Renewal</div>
            <div class="h-d-rw-d"><span>{{daysleft}}</span> Days Left</div>
        </div>
        <div class="h-d-c-m-e h-d-renw">
            <div class="h-d-rw-button h-tm h-diag-clk" dialog="h-dialog-renew">RENEW NOW</div>
        </div>
    </div>
</div>
<div class="h-d-bottom">
    <div class="h-d-bx" [routerLink]="['/',{ outlets: { auth: ['orderdetails'] } }]">
        Order Details
    </div>
    <div class="h-d-bx" [routerLink]="['/',{ outlets: { auth: ['billingdetails'] } }]">
        Billing Details
    </div>
    <div class="h-d-bx" [routerLink]="['/',{ outlets: { auth: ['editcategory'] } }]">
        Edit Category
    </div>
    <div class="h-d-bx" [routerLink]="['/',{ outlets: { auth: ['uploadbanner'] } }]">
        Upload Banners
    </div>
</div>
<div class="h-dialog h-dialog-tax">
    <div class="h-d-ov"></div>
    <div class="h-dialog-content">
        <div class="h-dialog-title">TAX</div>
        <div class="h-dialog-mn">
            <div class="h-d-tx">
                <div>
                    <Span class="h-d-tx-lb">Enter GST Percentage = </Span>
                    <input type="number" #taxgst placeholder="GST%" />
                </div>
                <div>
                    <div class="h-dialog-btn h-dialog-close" (click)="taxconfirm(taxgst)">CONFIRM</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="h-dialog h-dialog-url">
    <div class="h-d-ov"></div>
    <div class="h-dialog-content">
        <div class="h-dialog-title">CUSTOMER URL</div>
        <div class="h-dialog-mn">
            <div class="h-dg-url">
                <div class="h-d-url-b" #customerurl>
                    www.abcdefghijklmnopqur.magic.com
                </div>
                <div>
                    <div class="h-dialog-btn h-dialog-close" (click)="copyurl(customerurl)">COPY URL</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="h-dialog h-dialog-renew">
    <div class="h-d-ov"></div>
    <div class="h-dialog-content">
        <div class="h-dialog-title">RENEW</div>
        <div class="h-dialog-mn">
            <div class="h-d-renew">
                <div class="h-d-renew-date">
                    <div class="h-d-rw-d">
                        <span class="h-d-rw-lb">FROM</span>
                        <span class="h-d-rw-dt">
                            <input tabindex="-1" matInput [matDatepicker]="picker" placeholder="Start Date"
                                class="h-d-rw-s-d" [min]="minDate" (dateChange)="startDate()" #rwsdate>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </span>
                    </div>
                    <div class="h-d-rw-d h-d-rw-lmar">
                        <span class="h-d-rw-lb">TO</span>
                        <span class="h-d-rw-dt">
                            <input tabindex="-1" matInput [matDatepicker]="picker2" placeholder="End Date"
                                class="h-d-rw-e-d" [min]="minDate" (dateChange)="endDate()" #rwedate>
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </span>
                    </div>
                </div>
                <div class="h-d-renew-details">
                    <div class="h-d-rw-d-e">
                        <span class="h-d-rw-d-e-l">Number of Days : </span>
                        <span class="h-d-rw-d-e-c"><span class="h-d-rw-t-d" #rwnumofdays></span> Days</span>
                    </div>
                    <div class="h-d-rw-d-e">
                        <span class="h-d-rw-d-e-l">Price : </span>
                        <span class="h-d-rw-d-e-c">RS <span class="h-d-rw-d-p" #rwprice></span></span>
                    </div>
                    <div class="h-d-rw-d-e">
                        <span class="h-d-rw-d-e-l">GST @{{GST}}% : </span>
                        <span class="h-d-rw-d-e-c">RS <span class="h-d-rw-g-p" #rwgst></span></span>
                    </div>
                    <div class="h-d-rw-d-e h-fw-b">
                        <span class="h-d-rw-d-e-l h-cr-black">Total : </span>
                        <span class="h-d-rw-d-e-c">RS <span class="h-d-rw-t-p" #rwtotal></span></span>
                    </div>
                </div>
                <div class="h-tc">
                    <div class="h-dialog-btn h-dialog-close"
                        (click)="paynow(rwsdate,rwedate,rwnumofdays,rwprice,rwgst,rwtotal)">PAY NOW</div>
                </div>
            </div>
        </div>
    </div>
</div>