<div class="hl-op-mn cs-custom-scroll">
    <div class="clearfix">
        <div class="hl-op-ico">
            <span>
                <i class="fa fa-check"></i>
            </span>
        </div>
        <div class="h-tc">
            <div class="hl-op-pop">YOUR ORDER HAS BEEN PLACED!</div>
        </div>
        <div class="hl-op-inp-mn">
            <div class="hl-op-lb">ORDER ID:</div>
            <div class="hl-op-lnp">{{orid}}</div>
        </div>
        <div class="hl-op-inp-mn">
            <div class="hl-op-lb">PH NO:</div>
            <div class="hl-op-lnp">{{phnum}}</div>
        </div>
        <div class="hl-op-inp-mn">
            <div class="hl-op-lb">DELIVERY ADDRESS:</div>
            <div class="hl-op-lnp">{{addr}}</div>
        </div>
    </div>
</div>
<div class="hl-op-po h-r-bot-fix" (click)="homescreen()">
    <div class="h-op-btn">Go Back Home</div>
</div>
